header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  padding: 0 30px;
  background: transparent;
  transition: all ease 0.5s;
}

header.black { 
  background-color: #141414;
}

.header--logo {
  height: 30px;
}

.header--logo img {
  height: 100%;
}

.header--user {
  height: 35px;
  display: flex;
}

.header--user img {
  height: 100%;
  border-radius: 3px;  
}

.header--user svg {
  height: 100%;
  margin-right: 15px;
  cursor: pointer;
}

.header--menu {
  height: 100%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.header--menu a {
  text-decoration: none;
  font-size: 14px;
  color: #e5e5e5;
 margin-left: 20px;  
  transition: all ease 0.3s;
  align-items: center;
}

.header--menu a:hover {
  color: #cccccc;
  font-weight: bold;
}

@media (max-width: 414px) { 
  .header--menu, .header--icons {
    display: none !important;
  } 
}
